[Unit]
Description=install_kvm_post_reboot

[Service]
ExecStart=/bin/bash /home/celiyah/Code/bash-cm/install-kvm-post-reboot.sh start

[Install]
WantedBy=multi-user.target
